#img {
    border: dotted blue 10px;
  }
#img2 {
    border: dotted rgb(48, 180, 48) 10px;
}
#img3 {
    border: dotted red 10px;
}
#img4 {
    border: dotted purple 10px;
}

body {
background-color: black;
}
h1 {
    color: yellow;
    text-align: center;
}